@model List<DesignPatternsWorkshop.Application.DTOs.ProductDTO>;

<ul id="productList">
  @if(Model.Count == 0)
  {
    <li>
      <p>Select a product to start</p>
    </li>
  }
  else
  {
    @foreach(var p in Model.AsEnumerable().Reverse())
    {
      <li>
        <p>
          <b>@p.Name</b>
          @p.Price      
        </p>
        <button OnClick="removeProduct('@p.Id', '@p.Name', @p.Price, @p.Quantity)">remove</button>
      </li>
    }
  }
</ul>